@font-face {
    font-family: SourceSansRegular;
    src: url(SourceSansPro-Regular.otf);
}
body {
	margin: 0px;
	font-family: SourceSansRegular;
}
a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
	border-bottom: #ff9800 solid 1px;
}
a:hover {
	border-bottom: #ff9800 solid 3px;
	color: #ff9800;
}
a[alt="Source on Github"], a[alt="Source on Github"]:hover {
	border-bottom: none!important;
}
header {
	padding: 12px 12px 2px 12px;
	border-bottom: #9fa8da solid 1px;
	box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.4);
	background: linear-gradient(to bottom, #e8eaf6 0%, #c5cae9 100%);
}
header h1 {
	opacity: 0.87;
	width: 240px;
	margin-top: 0px;
	margin-bottom: 6px;
	font-size: 38px;
}
header ul {
	margin: 4px;
	padding: 0px;
	float: right;
	list-style-type: none;
}
header li {
	opacity: 0.7;
	display: inline;
	margin-right: 8px;
	font-size: 22px;
}
header img {
	vertical-align: top;
}
.GitRepoImg {
	width: 24px;
	height: 24px;
}
footer {
	width:100%;
	height: 24px;
	text-align: center;
	font-size: 12px;
	position:absolute;
	bottom:0;
	left:0;
}

.OverviewPanel {
	width: 100%;
	min-height: 128px;	
	border-top: #9fa8da solid 1px;
	border-bottom: #9fa8da solid 1px;
	padding: 0px;
	margin: 8px 0px 8px 0px;
	border-right: none;
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
	background-color: #e8eaf6;
}
.OverviewLeft, .OverviewRight {
	padding: 12px;
	text-align: center;
}
.OverviewLeftImg, .OverviewRightImg {
	height: 128px;
	overflow: hidden;
}
.OverviewPanel h2 {
	margin-top: 0px;
}
.OverviewLeftImg img {
	position: relative;
	top: -128px;
	left: -64px;
}
.OverviewLeftImg {
	width: 448px;
	float: left;
}
.OverviewRightImg{
	width: 448px;
	float: right;
}
.OverviewRightImg img {
	position: relative;
	top: -128px;
}

.Content {
	width: 70%;
	margin: 28px auto 0px auto;
}